<mat-toolbar color="primary" style="justify-content: space-between;">
  <span>Weather</span>

  <input class="location-input" type="text" placeholder="Location" aria-label="Location" matInput [formControl]="search"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="chose($event)" [displayWith]="display">
    <mat-option *ngFor="let result of searchResuts" [value]="result">
      {{result.name}}
    </mat-option>
  </mat-autocomplete>
</mat-toolbar>

<div *ngIf="weather" style="padding: 20px;">
  <div style="display: flex; justify-content: space-between;">
    <h1>{{weather.location.name}}</h1>
    <img [src]="weather.current.condition.icon">
    <!-- <h1>{{weather.current.temp_c}}°</h1> -->
  </div>

  <app-main [weather]="weather"></app-main>
</div>